@charset "utf-8";

.m2h-container {
  border: 0.5px solid #000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  height: calc(100vh - 52px);
  width: 670px;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 11px;
}

/* ボタンエリア */
.m2h-button-area {
  width: 650px;
  margin: 10px 10px 0px 10px;
  text-align: right;
}

/* 日付入力項目 */
.m2h-date {
  width: 100px;
  height: 20px;
  border: 0.5px solid #aaa;
  padding-left: 2px;
  margin: 0;
}

/* セクション１ */
.m2h-sec01 {
  margin: 10px 10px 0 10px;
  width: 650px;
  height: 30px;
  border: 0.5px solid #000;
  font-size: 14px;
  font-weight: bold;
  padding-top: 4px;
  text-align: center;
}

/* スクロール */
.m2h-frame {
  margin: 0 10px 0 10px;
  width: 650px;
  border-left: 0.5px solid #000;
  border-right: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
  height: calc(100vh - 140px);
  overflow-y: auto;
  overflow-x: hidden;
}

/* セクション２ */
.m2h-sec02 {
  width: 650px;
}
.m2h-sec02 tr {
  height: 25px;
}
.m2h-sec02 td {
  border-right: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
}
.m2h-sec02-ttl1 {
  width: 100px;
  text-align: center;
  background-color: #c9e9f1;
}
.m2h-sec02-val1 {
  width: 290px;
  padding-left: 3px;
}
.m2h-sec02-ttl2 {
  width: 50px;
  text-align: center;
  background-color: #c9e9f1;
}
.m2h-sec02-val2 {
  width: 210px;
}
.m2h-sec02-val2-frame {
  padding: 2px 2px 2px 2px;
  height: 25px;
  width: 210px;
  display: flex;
}

/* セクション3 */
.m2h-sec03 {
  width: 650px;
}
.m2h-sec03 tr {
  height: 25px;
}
.m2h-sec03 td {
  border-right: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
}
.m2h-sec03-ttl1 {
  width: 100px;
  text-align: center;
  background-color: #c9e9f1;
}
.m2h-sec03-val1 {
  text-align: right;
  padding-right: 4px;
  width: 140px;
}
.m2h-sec03-ttl2 {
  width: 50px;
  text-align: center;
  background-color: #c9e9f1;
}
.m2h-sec03-val2 {
  width: 130px;
}
.m2h-sec03-ttl3 {
  width: 50px;
  text-align: center;
  background-color: #c9e9f1;
}
.m2h-sec03-val3 {
  width: 130px;
}
.m2h-sec03-val1-frame {
  width: 135px;
  height: 25px;
  display: flex;
  justify-content: right;
  padding-top: 2.5px;
}
.m2h-sec03-val2-frame,
.m2h-sec03-val3-frame {
  width: 129px;
  height: 25px;
  display: flex;
  justify-content: right;
  padding-right: 4px;
  padding-top: 2.5px;
}
.m2h-actual_work_cost,
.m2h-actual_purchasing_cost,
.m2h-gross_profit,
.m2h-actual_outsourcing_cost,
.m2h-actual_expenses_cost {
  width: 90px;
  height: 20px;
  text-align: right;
  padding-right: 2px;
  border: 0.5px solid #aaa;
}
.m2h-gross_profit {
  background-color: #e1e1e1;
}
.m2h-sec03-innerlbl {
  height: 20px;
  padding-top: 2px;
  margin-left: 2px;
}

/* セクション4 */
.m2h-sec04 {
  width: 650px;
}
.m2h-sec04 tr {
  height: 25px;
}
.m2h-sec04 td {
  border-right: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
}
.m2h-sec04-ttl1 {
  width: 100px;
  text-align: center;
  background-color: #c9e9f1;
}
.m2h-sec04-ttl2 {
  width: 70px;
  text-align: center;
  background-color: #c9e9f1;
}
.m2h-sec04-val2 {
  width: 70px;
  padding-left: 2px;
}
.m2h-sec04-val3 {
  width: 410px;
  padding-left: 2px;
}
.m2h-customer_property_accept_result,
.m2h-customer_property_used_result,
.m2h-purchasing_goods_accept_result {
  width: 60px;
  height: 20px;
  border: 0.5px solid #aaa;
  padding-left: 2px;
}
.m2h-customer_property_accept_remarks,
.m2h-customer_property_used_remarks,
.m2h-purchasing_goods_accept_remarks {
  width: 400px;
  height: 20px;
  border: 0.5px solid #aaa;
  padding-left: 2px;
}

/* セクション5 */
.m2h-sec05 {
  width: 650px;
}
.m2h-sec05 tr {
  height: 25px;
}
.m2h-sec05 td {
  border-right: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
}
.m2h-sec05-ttl {
  width: 100px;
  text-align: center;
  background-color: #c9e9f1;
}
.m2h-sec05-val1 {
  width: 140px;
  padding-left: 2px;
}
.m2h-sec05-val2 {
  width: 410px;
  padding-left: 2px;
}
.m2h-outsourcing_evaluate1,
.m2h-outsourcing_evaluate2 {
 width: 130px;
 height: 20px;
 border: 0.5px solid #aaa;
 padding-left: 2px;
}
.m2h-outsourcing_evaluate_remarks1,
.m2h-outsourcing_evaluate_remarks2 {
 width: 400px;
 height: 20px;
 border: 0.5px solid #aaa;
 padding-left: 2px;
}

/* セクション6 */
.m2h-sec06 {
  width: 650px;
}
.m2h-sec06-ttl {
  width: 30px;
  writing-mode: vertical-lr;
  text-align: center;
  background-color: #c9e9f1;
  border-right: 0.5px solid #000;
}
.m2h-sec06-val {
  border-right: 0.5px solid #000;
  width: 620px;
}
.m2h-phasetbl {
  width: 620px;
}
.m2h-phase-hdtr {
  height: 25px;
}
.m2h-phase-bdtr {
  height: 40px;
}
.m2h-phase-bdtr:last-child td {
  border-bottom: none;
}
.m2h-phasetbl td {
  border-right: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
}
.m2h-phase-th {
  background-color: #c9e9f1;
  text-align: center;
}
.m2h-phase-name-td {
  width: 120px;
  padding-left: 2px;
}
.m2h-phase-deliverables-td {
  width: 120px;
  vertical-align: top;
  padding-top: 2px;
  padding-left: 2px;
  white-space: pre-wrap;
}
.m2h-phase-reviewcount-td {
  width: 50px;
  text-align: center;
}
.m2h-phase-planedcost-td {
  width: 95px;
  text-align: center;
}
.m2h-phase-actualcost-td {
  width: 95px;
  text-align: center;
}
.m2h-phase-acceptcompdate-td {
  width: 105px;
  text-align: center;
}
.m2h-phase-shipnumber-td {
  width: 35px;
  text-align: center;
}
.m2h-phase-reviewcount {
  border: 0.5px solid #aaa;
  width: 30px;
  height: 20px;
  text-align: right;
  padding-right: 2px;
  margin-right: 2px;
}
.m2h-phase-plannedcost,
.m2h-phase-actualcost {
  border: 0.5px solid #aaa;
  width: 75px;
  height: 20px;
  text-align: right;
  padding-right: 2px;
  margin-right: 2px;
}
.m2h-phase-shipnumber {
  border: 0.5px solid #aaa;
  width: 30px;
  height: 20px;
  text-align: center;
}

/* セクション7 */
.m2h-sec07 {
  width: 650px;
}
.m2h-sec07 tr {
  height: 25px;
}
.m2h-sec07 td {
  border-top: 0.5px solid #000;
  border-right: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
}
.m2h-sec07-ttl1 {
  width: 100px;
  background-color: #c9e9f1;
  text-align: center;
}
.m2h-sec07-ttl2 {
  width: 150px;
  background-color: #c9e9f1;
  padding-left: 3px;
}
.m2h-sec07-val1 {
  width: 60px;
  padding-left: 5px;
}
.m2h-sec07-val2,
.m2h-sec07-val3 {
  width: 90px;
  padding-left: 5px;
}
.m2h-sec07-val4 {
  width: 85px;
  padding-left: 5px;
}
.m2h-sec07-val5 {
  width: 75px;
  padding-left: 5px;
}
.m2h-sec07-val2-frame,
.m2h-sec07-val3-frame,
.m2h-sec07-val4-frame,
.m2h-sec07-val5-frame {
  display: flex;
  align-items: center;
}
.m2h-sec07-inner {
  width: 5px;
  height: 20px;
  padding-top: 2px;
}
.m2h-sec07-val2-inner,
.m2h-sec07-val3-inner {
  width: 45px;
  height: 20px;
  padding-top: 2px;
}
.m2h-sec07-val4-inner {
  width: 40px;
  height: 20px;
  padding-top: 2px;
}
.m2h-sec07-val5-inner {
  width: 30px;
  height: 20px;
  padding-top: 2px;
}
.m2h-communication_count,
.m2h-design_changes_count,
.m2h-improvement_count {
  width: 40px;
  height: 20px;
  border: 0.5px solid #aaa;
  background-color: #e1e1e1;
  text-align: right;
  padding-right: 2px;
  margin-right: 2px;
}
.m2h-project_meeting_count {
  width: 40px;
  height: 20px;
  border: 0.5px solid #aaa;
  text-align: right;
  padding-right: 2px;
  margin-right: 2px;
}
.m2h-meeting_count,
.m2h-phone_count,
.m2h-mail_count,
.m2h-fax_count,
.m2h-specification_change_count,
.m2h-design_error_count,
.m2h-others_count,
.m2h-corrective_action_count,
.m2h-preventive_measures_count {
  width: 30px;
  height: 20px;
  border: 0.5px solid #aaa;
  text-align: right;
  padding-right: 2px;
}

/* セクション8 */
.m2h-sec08 {
  width: 650px;
}
.m2h-sec08 td {
  border-right: 0.5px solid #000;
  border-bottom: 0.5px solid #000;
}
.m2h-sec08-r1 {
  height: 60px;
}
.m2h-sec08-r2 {
  height: 60px;
}
.m2h-sec08-r3 {
  height: 110px;
}
.m2h-sec08-ttl {
  width: 100px;
  background-color: #c9e9f1;
  text-align: center;
}
.m2h-sec08-val {
  width: 550px;
  padding-top: 2px;
  padding-left: 2px;
}
.m2h-statistical_consideration {
  resize: none;
  height: 56px;
  width: 545px;
  border: 0.5px solid #aaa;
  overflow: hidden;
  padding-top: 2px;
  padding-left: 2px;
}
.m2h-qualitygoals_evaluate {
  resize: none;
  height: 56px;
  width: 545px;
  border: 0.5px solid #aaa;
  overflow: hidden;
  padding-top: 2px;
  padding-left: 2px;
}
.m2h-total_report {
  resize: none;
  height: 106px;
  width: 545px;
  border: 0.5px solid #aaa;
  overflow: hidden;
  padding-top: 2px;
  padding-left: 2px;
}
