@charset "utf-8";

.m15-emp-new-container {
  border: 0.5px solid #000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  height: calc(100vh - 50px);
  width: 500px;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 11px;
}

.m15-header-area {
  height: 30px;
  width: auto;
  background-color: #c9e9f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m15-header-title {
  width: 100%;
  height:30px;
  background-color: #c9e9f1;
  color: #00f;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0 0 5px;
}

.m15-devise-area {
  margin: 30px 0 0 20px;
  border-radius: 10px;
  border: 0.5px solid #000;
  height: 220px;
  width: 460px;
}

.m15-emp-area {
  margin: 20px 0 0 20px;
  border-radius: 10px;
  border: 0.5px solid #000;
  height: 280px;
  width: 460px;
}

.m15-area-title {
  margin: 5px 0 0 5px;
}

.m15-text-pos {
  margin: 20px 0 0 20px;
}
