@charset "utf-8";

.m19-auth-container {
  width: 100vw;
  margin-left: 30px;
  margin-right: 10px;
  padding: 0;
  height: 400px;
  background-color: #fff;
  font-size: 11px;
  font-family: sans-serif;
}

.m19-header-area {
  width: auto;
  height: 25px;
  border-left: 10px solid #08f;
  border-bottom: 1px solid #08f;
  display: flex;
  justify-content: space-between;
}

.m19-header-title {
  margin: 0;
  height: 24px;
  font-size: 14px;
  font-weight: bold;
  padding-top: 1px;
  padding-left: 5px;
}

.m19-link-close {
  width: 100px;
  font-size: 14px;
}

.m19-add-emp-area {
  margin: 30px 0 30px 20px;
  display: flex;
}

.m19-emp-list-pos {
  padding-top: 4px;
  margin-right: 30px;
}

.m19-auth-table-hd,
.m19-auth-table {
  margin-left: 20px;
  width: 340px;
}

.m19-auth-table-hd tr {
  height: 25px
}

.m19-auth-table tr {
  height: 40px
}

.m19-auth-table-hd td {
  border-bottom: 2px inset #c8c8c8;
}

.m19-auth-table td {
  padding-top: 15px;
  border-bottom: 1px inset #c8c8c8;
}

.m19-number-td {
  width: 100px;
}

.m19-name-td {
  width: 200px;
}

.m19-button-td {
  width: 40px;
  text-align: right;
}

